
.navbar-fixed-top {
	box-shadow: 0px 2px 3px 0px;
	border-width: 0 0 2px;
}

.navbar-inverse {
	background-color: white;
	border-color: black;
}

.navbar-header {
	margin-left: 10px;
}

.glyphicon {
	top: 1px;
	right: 3px;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-right {
	margin-right: -5px;
}

.navbar-brand{
	font-size: 25px;
	background: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background: black;
	color: white;
}

#catButton {
	position: relative;
	color: black;
	text-decoration: none;
}

#catButton:hover {
    background: black;
	color: white;
}

.navbar-inverse .navbar-header .navbar-brand:hover {
	background: black;
}

#profID {
	padding-right: 100px;
	padding-left: 100px;
}

#projID {
	padding-right: 150px;
	padding-left: 150px;
}

#servID {
	padding-right: 150px;
	padding-left: 150px;
}

#lendsellID {
	padding-right: 100px;
	padding-left: 100px;
}

body {
    background-color: white;
}

@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
        margin-left: 139px; 
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid black;
        position: relative;
        right: 124px;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}
