{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
		<div class="row" style="height:20px;"></div>
	<div>
		<h1 style="font-size:50px">About TBC Scotland</h1>
	</div>
	<div class="row" style="height:20px;"></div>
    <div>
			<h2 style="font-size:30px">TBC Scotland is a platform for creatives based in Scotland.</h2>
			<div class="row" style="height:10px;"></div>

			<p style="font-size:140%;">Want to teach someone how to play piano? Need your headshots taken?
				Want to get rid of your old speakers? Looking for a new exciting project to join?
			<strong>You can do it all here!</strong></p></br></br></br>
				<div class="container text-center">
			<p style="font-size:120%;">Browse through profiles of creatives here:</p>
			<p><a href="{% url 'profiles' %}"><button type="button" class="btn btn-default">Profiles</button></a></p></br>
			<p style="font-size:120%;">Find out about the ongoing projects here:</p>
			<p><a href="{% url 'projects' %}"><button type="button" class="btn btn-default">Projects</button></a></p></br>
			<p style="font-size:120%;">Get a service that you need here:</p>
			<p><a href="{% url 'services' %}"><button type="button" class="btn btn-default">Services</button></a></p></br>
			<p style="font-size:120%;">Lend or sell items here:</p>
			<p><a href="{% url 'lendandsell' %}"><button type="button" class="btn btn-default">Lend and Sell</button></a></p></br>
		</div> 
    </div>
</div>
{% endblock %}
