{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/cssmain.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>
        TBCScotland
    </title>
</head>
<body>
    {% block navbar_block %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
               <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">TBCScotland</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'getstarted' %}">Get Started</a></li>
                <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                </ul>
            </div>     
            <div class="row">
                <ul class="nav navbar-nav">
                    <li id="profID"><a href="{% url 'profiles' %}">Profiles</a></li>
                    <li id="projID"><a href="{% url 'projects' %}">Projects</a></li>
                    <li id="servID"><a href="{% url 'services' %}">Services</a></li>
                    <li id="lensellID"><a href="{% url 'lendandsell' %}">Lend & Sell</a></li>
                </ul>
            </div>
        </div>
    </nav>    
    {% endblock %}
    {% block body_block %}            
    {% endblock %}
</body>
</html>
