{% extends 'tbc/base.html' %}
{% load staticfiles %}

{%block body_block %}
<div class="container">
	<div class="row" style="height:20px;"></div>
	<header>
		<h1 style="font-size:50px">How to get started at TBCScotland!</h1>
	</header>
	<div class="row" style="height:40px;"></div>
	<div style="font-size:140%;">TBCScotland is a platform for those working or volunteering in the creative industry to connect with others in the same field</div>
	<div class="row" style="height:40px;"></div>
	<div class="row">
		<div align="center" class="col-lg-4 bg-secondary">
			<img src="{% static "icons/register.png" %}" alt="Register icon not found" height="100" width="100">
			<div class="row" style="height:20px;"></div>
			<div>
				<p style="font-size:130%;">
					<strong>Register your new account for free</strong>
				</p></br>
				<div><a href="/tbc/signup/">Click here to sign up!</a></div>
			</div>
		</div>

		<div align="center" class="col-lg-4">
			<img src="{% static "icons/update.png" %}" alt="Updateprofile icon not found" height="100" width="100">
			<div class="row" style="height:20px;"></div>
			<div>
				<p style="font-size:130%;">
					<strong>Update your profile with your occupation,</br> experience and past projects</strong>
				</p>
				{% if user.is_authenticated %}
				</br>
				<div>Signed up already? </div>
				<a href="/tbc/profile/">Click here to edit your profile</a>
				{% endif %}
			</div>
		</div>

		<div align="center" class="col-lg-4">
			<img src="{% static "icons/postadd.png" %}" alt="Postad icon not found" height="100" width="100">
			<div class="row" style="height:20px;"></div>
			<div>
				<p style="font-size:130%;">
					<strong>Post your first ad</strong></br>
				</p>
				{% if user.is_authenticated %}
				</br>
				<div>Already got a profile? </div>
				<a href="/tbc/postad/">Click here to post an ad!</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row" style="height:70px;"></div>

	<div>

		<div><p style="font-size:130%;">From this site you can browse the profiles of people
			 working in the industry, and each user can post an ad looking for something more specific</p>
		</div></br>
		<div style="font-size:120%;"><b>TBCScotland supports three different types of ad,
			 <a href="/tbc/lendandsell/">'Lend and Sell'</a>, <a href="/tbc/services/">'Services'</a>,
			  and <a href="/tbc/projects/">'Projects'</b></a></div>


	</div>
	{% endblock %}
