{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Post an Ad!</h1>
            <div>Do you have any equipment or materials you'd like to lend or sell? <a href="/tbc/postlendandsell/">Post a 'lend or sell' ad</a></div>   
            
            <div>Do you have a service you can provide, whether regular or one-off? <a href="/tbc/postservice/"> Post a 'service' ad</a></div>

            <div>Do you have a project you're working on and you'd like help? <a href="/tbc/postproject/"> Post a 'Project' ad</a></div>
{% endblock %}
