{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="container" style="text-align:center;"><h1>Post an Ad!</h1></div>
            <div class="container" style="text-align:center;"><h2>Do you have any equipment or materials you'd like to lend or sell?</h2>
                <a href="/tbc/postlendandsell/"><h3>Post a 'lend or sell' ad</h3></a></div>   
            
            <div class="container" style="text-align:center;"><h2>Do you have a service you can provide, whether regular or one-off?</h2>
                <a href="/tbc/postservice/"><h3>Post a 'service' ad</h3></a></div>

            <div class="container" style="text-align:center;"><h2>Do you have a project you're working on and you'd like help?</h2>
                 <a href="/tbc/postproject/"><h3>Post a 'Project' ad</h3></a></div>
{% endblock %}
