<!DOCTYPE html>
<html>
    <head>
        <title>TBCScotland</title>
        <link rel="stylesheet" type="text/css" href="https://raw.githack.com/Teamy2019/tbcscotland/master/templates/tbc/cssmain.css">
    </head>

    <h1>Post an Ad!</h1>
    <body>
            <div>
                <h2>If you have any equipment or materials you'd like to lend or sell, click here:</h2>
                <button id=lendButton onclick="lendAndSell()" value="Lend And Sell"></button>
            </div>   
             <div>
                 <h2>If you have a service you can provide, whtehr regular or one-off, click here:</h2>
                <button id=serviceButton onclick="service()" value="Service"></button>
            </div>    
            <div>
                <h2>If you have a project you're working on and you'd like help, click here:</h2>
                <button id=projectButton onclick="project()" value="Project"></button>
            </div>
            <script type="text/javascript">
                document.getElementById("lendButton").innerHTML = lendButton.value;
                document.getElementById("serviceButton").innerHTML = serviceButton.value;
                document.getElementById("projectButton").innerHTML = projectButton.value;
            </script>


    <!-- <form id="lendAndSell_form" method="post" action="{% url 'post_lendandsell' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    {{ lendAndSell_form.as_p }}

    <input type="submit" name="submit" value="Post your ad!" />
    </form> -->
    </body>
</html>