<!DOCTYPE html>
<html>
    <head>
        <title>TBCScotland</title>
        <link rel="stylesheet" type="text/css" href="https://raw.githack.com/Teamy2019/tbcscotland/master/templates/tbc/cssmain.css">
    </head>

    <h1>Post a 'Project' ad</h1>
    <body>
    <form id="project_form" method="post" action="{% url 'post_project' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    {{ project_form.as_p }}

    <input type="submit" name="submit" value="Post your ad!" />
    </form>
    </body>
</html>