{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<style>
    #profileBox {
        width: 180px;
        height: 200px;
        border: 2px solid black;
        border-radius: 0px;
    } 
</style>
{% endblock %}

{%block body_block %}
<div class="container">
<div class="row"style="height:100px;"></div>
    <h1>Find the most suitable freelancer for your project</h1>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="profileBox" class="panel panel-default">
                <div class="panel-body">
                    {% if profiles %}
                        {% for profile in profiles %}
                            <a href="{% url 'show_profile' profile.slug %}">{{ profile.name }}</a>
                        {% endfor %}
                    {% else %}
                        <strong>No Profiles yet!</strong>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="profileBox" class="panel panel-default">
                <div class="panel-body">
                    {% if profiles %}
                        {% for profile in profiles %}
                            <a href="{% url 'show_profile' profile.slug %}">{{ profile.name }}</a>
                        {% endfor %}
                    {% else %}
                        <strong>No Profiles yet!</strong>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="profileBox" class="panel panel-default">
                <div class="panel-body">
                    {% if profiles %}
                        {% for profile in profiles %}
                            <a href="{% url 'show_profile' profile.slug %}">{{ profile.name }}</a>
                        {% endfor %}
                    {% else %}
                        <strong>No Profiles yet!</strong>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="profileBox" class="panel panel-default">
                <div class="panel-body">
                    {% if profiles %}
                        {% for profile in profiles %}
                            <a href="{% url 'show_profile' profile.slug %}">{{ profile.name }}</a>
                        {% endfor %}
                    {% else %}
                        <strong>No Profiles yet!</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" style="height:30px;"></div>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="profileBox" class="panel panel-default">
                <div class="panel-body">
                    {% if profiles %}
                        {% for profile in profiles %}
                            <a href="{% url 'show_profile' profile.slug %}">{{ profile.name }}</a>
                        {% endfor %}
                    {% else %}
                        <strong>No Profiles yet!</strong>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="profileBox" class="panel panel-default">
                <div class="panel-body">
                    {% if profiles %}
                        {% for profile in profiles %}
                            <a href="{% url 'show_profile' profile.slug %}">{{ profile.name }}</a>
                        {% endfor %}
                    {% else %}
                        <strong>No Profiles yet!</strong>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="profileBox" class="panel panel-default">
                <div class="panel-body">
                    {% if profiles %}
                        {% for profile in profiles %}
                            <a href="{% url 'show_profile' profile.slug %}">{{ profile.name }}</a>
                        {% endfor %}
                    {% else %}
                        <strong>No Profiles yet!</strong>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="profileBox" class="panel panel-default">
                <div class="panel-body">
                    {% if profiles %}
                        {% for profile in profiles %}
                            <a href="{% url 'show_profile' profile.slug %}">{{ profile.name }}</a>
                        {% endfor %}
                    {% else %}
                        <strong>No Profiles yet!</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}