{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<style>
    #profileBox {
        width: 180px;
        height: 200px;
        border: 2px solid black;
        border-radius: 0px;
    } 
</style>
{% endblock %}

{% block body_block %}

    {% if profiles %}
    <ul>
        {% for profile in profiles %}
        <br>
        <!-- <div class="row"> -->
        <!-- <a href="{% url 'show_profile' profile.slug %}"> -->
        <div class="thumbnail_panel">
        <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="{% url 'show_profile' profile.slug %}">{{ profile.username }}</a></div>
                    <div class="panel-body" style="min-height: 240px; max-height: 240px; overflow-y:hidden; overflow-x: hidden;">

                             <div class="col-sm-4 profile_image">
                                    {% if profile.image %}
                                    <div><img src="{{ profile.image.url }}" width="150"></div>
                                    
                                    {% else %}
                                        <img class='img-responsive' src="{% static "icons/noprofilepicture.png" %}"  alt="">
                                    {% endif %} 
                                    <br>
                                </div> 
                                <div class="container">
                                <!-- <div class="col-sm-6" text-align: centre; text-overflow: ellipses;> -->
                                    <br>
                                {% if profile.skills %}
                                <strong>Skills</strong>
                                <br>
                                <span class="badge badge-secondary">{{ profile.skills }}</span>
                                <br>
                                {% endif %}
                                <br>
                                <strong>About Me</strong>

                            {% if profile.aboutme %}
                            <div>{{ profile.aboutme }}</div>
                                <br>
                            {% else %}
                                <div>{{ profile.username }} has not added in their 'About Me' section yet!</div>
                                <br>
                        {% endif %}
                    <!-- </div> -->
                    </div>
                    </div>
                </div>
        </div>
    </div>
<!-- </a> -->
<!-- </div> -->
        {% endfor %}
    </ul>
    {% endif %}
    


<div class ="row">
<div class="pagination">
    <span class="step-links">
        {% if profiles.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ profiles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}.</span>
        
        {% if profiles.has_next %}
            <a href="?page={{ profiles.next_page_number }}">next</a>
            <a href="?page={{ profiles.paginator.num_pages }}">last&raquo;</a>
        {% endif %}        
        </span>
    </span>
</div>
</div>



    
{% endblock %}
