{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container container_body">

    <div class="row cover_image">
        <div class="col-sm-4 profile_image">
            {% if profile.image %}
                <div>
                    <img src="{{ profile.image.url }}" width="240">
                </div>
            {% else %}
                <img class='img-responsive' src="{% static "icons/noprofilepicture.png" %}"  alt="">
            {% endif %} 
            </div>
        <div class="col-sm-8 ">
            <h2>{{ profile.username }}</h2>
            <h4>Desc</h4>
        </div>
    </div>

    <div class="row main_profile_body">
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="width: 100%; margin-bottom: 20px;">Contact
            </button>
            <div class="panel panel-default">
                <div class="panel-body">
                    <strong>Skills</strong>
                    <br>
                    {% if profile.skills %}
                    <span class="badge badge-secondary">{{ profile.skills }}</span>
                    {% else %}
                    <div>User {{ profile.name }} has not added in their 'Skills' section yet!</div>
                    {% endif %}
                    <br>
                    <hr class="style1">
                    <strong>Education</strong>
                    {% if profile.education %}
                        <div>{{ profile.education }}</div>
                    {% else %}
                        <div>User {{ profile.name }} has not added in their 'Education' section yet!</div>
                    {% endif %}
                    <br>
                    <hr class="style1">
                    <strong>Equipment</strong>
                    {% if profile.education %}
                        <div>{{ profile.education }}</div>
                    {% else %}
                        <div>User {{ profile.name }} has not added in their 'Education' section yet!</div>
                    {% endif %}
                    <br>
                    <hr class="style1">
                    <strong>Location</strong>
                    <div id="googleMap" style="width:100%;height:200px;">
                        <script>
                            function myMap() {
                                var mapProp = {center:new google.maps.LatLng(55.8740524,-4.2921628),zoom:11};
                                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
                                var geocoder = new google.maps.Geocoder();
                                geocodeAddress(geocoder, map);
                            }
                            
                            function geocodeAddress(geocoder, resultsMap) {
                                geocoder.geocode({'address' : "{{ profile.location }}"}, function(results, status) {
                                    if (status === 'OK') {
                                        resultsMap.setCenter(results[0].geometry.location);
                                        var marker = new google.maps.Marker({
                                        map: resultsMap,
                                        position: results[0].geometry.location
                                        });
                                    } else {
                                        alert('geocode not found for: ' + status);
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">About me</div>
                <div class="panel-body">
                    {% if profile %}
                        {% if profile.aboutme %}
                            <div>{{ profile.aboutme }}</div>
                        {% else %}
                            <div>User {{ profile.name }} has not added in their 'About Me' section yet!</div>
                    {% endif %}
                </div>
            </div>

            <!-- <div>
                <div class="panel panel-default">
                    <div class="panel-heading">Portfolio</div>
                    <div class="panel-body">
                        <div class="portfolio-items text-center">
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                            <div><img src="https://via.placeholder.com/150" alt=""></div>
                        </div>
                    </div>
                </div>
            </div> -->
            {% if resultsLend %}
            <div class="panel panel-default">
                <div class="panel-heading">Lend and Sell Adverts</div>
                <div class="panel-body">
                    <div class="portfolio-items text-center">
                        {% for lend in resultsLend %}
                        <div><img src="{{ lend.image.url }}" wdith="240">
                            <a href="{% url 'show_lendandsell' lend.slug %}">{{ lend.title }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if resultsProject %}
            <div class="panel panel-default">
                <div class="panel-heading">Project Adverts</div>
                <div class="panel-body">
                    <div class="portfolio-items text-center">
                        {% for project in resultsProject %}
                        <div><img src="{{ project.image.url }}" width="240">
                            <a href="{% url 'show_project' project.slug %}">{{ project.title }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if resultsService %}
            <div class="panel panel-default">
                <div class="panel-heading">Service Adverts</div>
                <div class="panel-body">
                    <div class="portfolio-items text-center">
                        {% for service in resultsService %}
                        <div><img src="{{ service.image.url }}" width="240">
                            <a href="{% url 'show_service' service.slug %}">{{ service.title }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">Activity</div>
                    <div class="panel-body">
                        {% if resultsLend %}
                            <strong>Here are {{ profile.username }}'s' 'Lend and Sell' ads!</strong>
                            {% for lend in resultsLend %}
                                <div>{{ lend.title }}</div>
                                <div>{{ lend.description }}
                                <a href="{% url 'show_lendandsell' lend.slug %}">See the ad!</a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No lend ads detected</div>
                        {% endif %}

                        {% if resultsProject %}
                            <strong>Here are {{ profile.username }}'s 'Project' ads!</strong>
                            {% for project in resultsProject %}
                                <div>{{ project.title }}</div>
                                <div>{{ project.description }}
                                <a href="{% url 'show_project' project.slug %}">See the ad!</a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No project ads detected</div>
                        {% endif %}

                        {% if resultsService %}
                            <strong>Here are {{ profile.username }}'s ads!</strong>
                            {% for service in resultsService %}
                                <div>{{ service.title }}</div>
                                <div>{{ service.description }}
                                    <a href="{% url 'show_service' service.slug %}">See the ad!</a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No service ads detected</div>
                        {% endif %} 
                        {% else %}
                            <strong>No Ad!</strong>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if user.is_authenticated %}
            <h2>Would you like to leave a comment?</h2>
            <form id="comment_form" method="POST" action="{% url 'show_profile' profile.slug %}" enctypte="multipart/form-data">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" name="submit" value"Comment" />
            </form>
            {% endif %}

            <hr>
            {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <div class="date">{{ comment.created_date }}</div>
                        <strong>{{ comment.author }}</strong>
                        <p>{{ comment.comment }}</p>
                    </div>
            {% endfor %} 
            {% else %} 
            <p>No comments here yet :(</p>
            {% endif %}

        </div>
    </div>
                            
    <!-- {% if profile.views %}
        <div>
            Views: {{ visits }}
        </div>
    {% else %}
        <div>
            {{ profile.name }} has had no visitors to their profile :(
        </div>
    {% endif %} -->
</div>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Get in touch with {{ profile.username }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>do contact form </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
