<!DOCTYPE html>
<html>
    <head>
        <title>TBCScotland</title>
        <link rel="stylesheet" type="text/css" href="https://raw.githack.com/Teamy2019/tbcscotland/master/templates/tbc/cssmain.css">
    </head>
    <body>
        {% if project_ad %}
        <h1>{{ project_ad.title }}</h1>
        <div>
            {{ project_ad.description }}
        </div>
        <div>
            {{ project_ad.keywords }}
        </div>
        {% else %}
        <strong>No Ad!</strong>
        {% endif %}
    </body>
</html>