{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container container_body">
    <div class="col-lg-4">
        {% if project_ad.image %}
            <div>
                <img src="{{ project_ad.image.url }}" style="width:100%">
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Keywords</strong>
                <br>
                {% if project_ad.keywords %}
                    <span class="badge badge-secondary">{{ project_ad.keywords }}</span>
                {% else %}
                    <div>User {{ project_ad.profile }} has not added in their 'Keywords' section yet!</div>
                {% endif %}
                <br>
                <hr class="style1">
                <strong>Timeline</strong>
                {% if project_ad.timeline %}
                    <div>{{ project_ad.timeline }}</div>
                {% else %}
                    <div>User {{ project_ad.profile }} has not added in their 'Timeline' section yet!</div>
                {% endif %}
                <br>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div>
            <h1>{{ project_ad.title }}</h1>
            <h3>Project</h3>

            {% if profile.firstname and profile.lastname %}
            <a href="{% url 'show_profile' profile.slug %}"><div class="ad_author">{{ profile.firstname }} {{ profile.lastname }}</div></a>
            {% else %}
            <a href="{% url 'show_profile' profile.slug %}"><div class="ad_author">{{ profile.username }}</div></a>
            {% endif %}
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">
                {% if project_ad.description %}
                    <div>{{ project_ad.description }}</div>
                {% else %}
                    <div>User {{ project_ad.profile }} has not added in their 'Description' section yet!</div>
                {% endif %}
            </div>
        </div>             
        <div class="panel panel-default">
            <div class="panel-heading">Looking For</div>
            <div class="panel-body">
                {% if project_ad.lookingFor %}
                    <div>{{ project_ad.lookingFor }}</div>
                {% else %}
                    <div>User {{ project_ad.profile }} has not added in their 'Looking For' section yet!</div>
                {% endif %}
            </div>
        </div>

        <!-- Comments from below -->
        <hr>
        {% if comments %}
        {% for comment in comments %}
            <div class="comment" >
                <div class="date">{{ comment.created_date }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.comment }}</p>
                </div>
        {% endfor %} 
        {% endif %}
        <br>
        {% if user.is_authenticated %}
        <h4>Would you like to leave a comment?</h4>
        <form id="comment_form" method="POST" action="{% url 'show_project' project_ad.slug %}" enctypte="multipart/form-data">
            {% csrf_token %}
            <textarea class="form-control rounded-0 text-margin" id="Comment" type="text" name="comment" value="Comment" rows="5" placeholder="Enter your comment here"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
