{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
        {% if project_ad %}
        <h1>{{ project_ad.title }}</h1>
        <div>
            {{ project_ad.description }}
        </div>
        <div>
            {{ project_ad.keywords }}
        </div>
            {% if project_ad.image %}
        <div>
            {{ project_ad.image }}
        </div>
            {% else %}
        <div>
            {{ project_ad.profile }} has not uploaded an image yet. 
        </div>
            {% endif %}
        <div>
            <a href="{% url 'show_profile' project_ad.profile.slug %}">Visit {{ project_ad.profile }}'s Profile!</a>
        </div>
        {% else %}
        <strong>No Ad!</strong>
        {% endif %}
        <h2>Would you like to leave a comment?</h2>
        <form id="comment_form" method="POST" action="{% url 'show_project' project_ad.slug %}" enctypte="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" name="submit" value"Comment" />
        </form>

        <hr>
        {% if comments %}
        {% for comment in comments %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.comment }}</p>
                </div>
        {% endfor %} 
        {% else %} 
        <p>No comments here yet :(</p>
        {% endif %}
{% endblock %}
