{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
        <div>
        {% if resultsLend %}
        <div class="container" style="text-align:center;"><h1>Results in 'Lend and Sell':</h1></div>
        <ul>
            {% for lend in resultsLend %}
            <div class="thumbnail">
                    <img src="{{ lend.image.url }}">
                    <h1>{{ lend.title }}</h1>
                    <p class="keywords">{{ lend.keywords }}</p>
                    <p class="textinthumbnail">{{ lend.description }}</p>
        
                    <p><a href="{% url 'show_lendandsell' lend.slug %}"><button>Visit Ad</button></a></p>
                  </div>
            {% endfor %}    
        </ul>

        {% endif %}
        </div>
        <div>
        {% if resultsService %}
        <div class="container" style="text-align:center;"><h1>Results in 'Services':</strong></h1>        <ul>
            {% for service in resultsService %}
            <div class="thumbnail">
                    <img src="{{ service.image.url }}">
                    <h1>{{ service.title }}</h1>
                    <p class="keywords">{{ service.keywords }}</p>
                    <p class="textinthumbnail">{{ service.description }}</p>
     
                    <p><a href="{% url 'show_service' service.slug %}"><button>Visit Ad</button></a></p>
                  </div>
            {% endfor %}
        </ul>

        {% endif %}
        </div>
        <div>
        {% if resultsProject %}
        <div class="container" style="text-align:center;"><h1>Results in 'Projects':</strong></h1>      
          <ul>
            {% for project in resultsProject %}
            <div class="thumbnail">
                    <img src="{{ project.image.url }}">
                    <h1>{{ project.title }}</h1>
                    <p class="keywords">{{ project.keywords }}</p>
                    <p class="textinthumbnail">{{ project.description }}</p>
     
                    <p><a href="{% url 'show_project' project.slug %}"><button>Visit Ad</button></a></p>
                  </div>
            {% endfor %}
        </ul>

        {% endif %}
    </div>
{% endblock %}
