{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
    {% if resultsLend %}
    <div class="row">
        <div class="container"><h1>Results in 'Lend and Sell':</h1></div>
            {% for lend in resultsLend %}
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img class="thumbnail_image" src="{{ lend.image.url }}">
                    <h3 class="thumbnail_header">{{ lend.title }}</h3>
                    <p class="keywords">{{ lend.keywords }}</p>
                    <p class="textinthumbnail">{{ lend.description }}</p>
                    <p><a href="{% url 'show_lendandsell' lend.slug %}"><button type="button" class="btn btn-default">Visit Ad</button></a></p>
                </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            {% endif %}
            {% endfor %} 
    </div>
    {% endif %} 

    {% if resultsService %}
    <div class="row">
        <div class="container"><h1>Results in 'Services':</strong></h1></div>        
            {% for service in resultsService %}
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img class="thumbnail_image" src="{{ service.image.url }}">
                    <h3 class="thumbnail_header">{{ service.title }}</h3>
                    <p class="keywords">{{ service.keywords }}</p>
                    <p class="textinthumbnail">{{ service.description }}</p>
                    <p><a href="{% url 'show_service' service.slug %}"><button type="button" class="btn btn-default">Visit Ad</button></a></p>
                </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            {% endif %}
            {% endfor %}
    </div>
    {% endif %}

    {% if resultsProject %}
    <div class="row">
        <div class="container"><h1>Results in 'Projects':</strong></h1></div>      
            {% for project in resultsProject %}
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img class="thumbnail_image" src="{{ project.image.url }}">
                    <h3 class="thumbnail_header">{{ project.title }}</h3>
                    <p class="keywords">{{ project.keywords }}</p>
                    <p class="textinthumbnail">{{ project.description }}</p>
                    <p><a href="{% url 'show_project' project.slug %}"><button type="button" class="btn btn-default">Visit Ad</button></a></p>
                </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
