{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<style>
    #servicesBox {
        width: 180px;
        height: 200px;
        border: 2px solid black;
        border-radius: 0px;
    } 
</style>
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row"style="height:100px;"></div>
        <h1>Popular Professional Services</h1>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="servicesBox" class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="servicesBox" class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="servicesBox" class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="servicesBox" class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height:30px;"></div>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
           <div id="servicesBox" class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="servicesBox" class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="servicesBox" class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div id="servicesBox" class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div>
        {% if services %}
            <strong>Most popular Ads!</strong>
            <ul>
            {% for service in services %}
                <li>
                    <a href="{% url 'show_service' service.slug %}">{{ service.title }}</a><i>- Ad posted by </i>{{ service.profile }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No Ads yet!</strong>
        {% endif %}
    </div>

    <div>
        {% if user.is_authenticated %}
        <a href="/tbc/postservice/">Post your own ad here!</a>
        {% endif %}
    </div>
</div>
{% endblock %}