{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
    <div class="row">
        {% for service in services %}
        <div class="col-lg-3">
            <br>
            <div class="thumbnail">
                <img class="thumbnail_image" src="{{ service.image.url }}">
                <h class="headerinthumbnail">{{ service.title }}</h>
                <p class="keywords">{{ service.keywords }}</p>
                <p class="textinthumbnail">{{ service.description }}</p>
                <p><a href="{% url 'show_service' service.slug %}"><button>Visit Ad</button></a></p>
            </div>
        </div>
    {% if forloop.counter|divisibleby:"4" and not forloop.last %}
    </div>
    {% endif %}
    {% endfor %}

    <div>
        {% if user.is_authenticated %}
            <br>
            <a href="{% url 'post_service' %}"><div class="keywords">Post your own ad here!</div></a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="pagination">
                <span class="step-links">
                    {% if services.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ services.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">Page {{ services.number }} of {{ services.paginator.num_pages }}.</span>

                    {% if lend_servicesand_sell.has_next %}
                        <a href="?page={{ services.next_page_number }}">next</a>
                        <a href="?page={{ services.paginator.num_pages }}">last&raquo;</a>
                    {% endif %}        
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
