{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
        {% if service_ad %}
        <h1>{{ service_ad.title }}</h1>
        <div>
            {{ service_ad.description }}
        </div>
        <div>
            {{ service_ad.keywords }}
        </div>
        <div>
            {% if service_ad.location %}\\
            {{ service_ad.location }}
            {% else %}
            <strong>No Location!</strong>
            {% endif %}
        </div>
        {% else %}
        <strong>No Ad!</strong>
        {% endif %}
{% endblock %}
