{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
  <div class="row" style="height:20px;"></div>
  <h1 style="font-size:50px">Register for TBC</h1>
  <div class="row" style="height:20px;"></div>
  {% if registered %}
    <strong style="font-size:160%;">You've sucessfully registered with TBC Scotland!</strong><br/>
    <a href="{% url 'home' %}">Return to the homepage</a>
    <div class="row" style="height:40px;"></div>
    <div style="font-size:130%;">Now you can edit your profile:</div></br>
    <form id="user_form" method="POST" action="{% url 'editprofile' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    {{ profile_form.as_p }}
    <input type="submit" name="submit" value="Edit" />
    </form>
  {% else %}
    <strong style="font-size:150%;">Sign up here</strong><br/><br/>
    <form id="user_form" method="POST" action="{% url 'signup' %}"
      enctype="multipart/form-data">

      {% csrf_token %}

      <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" name="username" value="" size="50" id="Username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" name="password" value="" size="50" class="form-control" id="Password" placeholder="Enter password">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>


      </form>
    {% endif %}
  </div>
{% endblock %}
