{% extends 'tbc/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
  <h1>Register for TBC</h1>
  {% if registered %}
    <strong>You've sucessfully registered with TBC Scotland</strong>
    <a href="{% url 'home' %}">Return to the homepage</a><br/>
    Edit your profile:
    <form id="user_form" method="POST" action="{% url 'editprofile' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    {{ profile_form.as_p }}
    <input type="submit" name="submit" value="Edit" />
    </form>
  {% else %}
    <strong>Sign up here</strong><br/>
    <form id="user_form" method="POST" action="{% url 'signup' %}"
      enctype="multipart/form-data">

      {% csrf_token %}

      {{ user_form.as_p }}
      <input type="submit" name="submit" value="Sign up" />
      </form>
    {% endif %}
  </div>
{% endblock %}
